In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('ex1data2.txt', header = None, sep = ',', names = ['size', 'bedroom', 'price'])
df.head()

   size  bedroom   price
0  2104        3  399900
1  1600        3  329900
2  2400        3  369000
3  1416        2  232000
4  3000        4  539900

In [3]:
X = df.loc[:, ['size', 'bedroom']]

y = df.loc[:,'price']

y = y[:, np.newaxis]

m = y.size

ones = np.ones((m,1))

X = np.hstack((ones, X))

In [4]:
theta = np.dot(np.dot(np.linalg.inv(np.dot(X.transpose(), X)), X.transpose()), y)

In [5]:
print(theta)

[[89597.9095428 ]
 [  139.21067402]
 [-8738.01911233]]

In [6]:
print('enter the size of the house in square feet')
m = int(input())
print('enter number of bedrooms')
n = int(input())
pred_val = np.dot([1, m, n], theta)
print(pred_val)

enter the size of the house in square feet
1650
enter number of bedrooms
3
[293081.4643349]